body {
  font-family: "Tahoma", sans-serif;
  font-size: 14px;
  margin: 0; }

p {
  line-height: 1.4; }

.contain {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

.cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

button,
.btn {
  position: relative;
  display: inline-block;
  min-width: 100px;
  padding: 10px 25px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  text-align: left; }
  @media all and (max-width: 1023px) {
    button,
    .btn {
      min-width: 180px;
      padding: 20px 30px;
      font-size: 20px; } }
  button--blue,
  .btn--blue {
    color: #fff;
    background-color: #3062FF; }
  button--with-arrow,
  .btn--with-arrow {
    padding-right: 50px; }
    button--with-arrow:after,
    .btn--with-arrow:after {
      content: "";
      width: 20px;
      height: 20px;
      position: absolute;
      top: 50%;
      right: 20px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      border: 1px solid #fff;
      background-image: url("../images/arrow-right.png");
      background-size: 10px;
      background-position: center;
      background-repeat: no-repeat; }
      @media all and (max-width: 1023px) {
        button--with-arrow:after,
        .btn--with-arrow:after {
          width: 30px;
          height: 30px;
          background-size: 15px;
          border: 1px solid #fff; } }

.test-block {
  position: relative;
  width: 100%;
  min-height: 60vh;
  margin: 150px auto 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .test-block__background-scene {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
    .test-block__background-scene .top {
      position: absolute;
      z-index: 5;
      width: 100%;
      height: 100%; }
      .test-block__background-scene .top:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 50%;
        height: 100%;
        background-color: #fff;
        -webkit-transform: rotateZ(8deg) rotateX(180deg) skewX(-8deg);
        transform: rotateZ(8deg) rotateX(180deg) skewX(-8deg);
        -webkit-transform-origin: left top;
        -ms-transform-origin: left top;
        transform-origin: left top; }
      .test-block__background-scene .top:after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
        height: 100%;
        background-color: #fff;
        -webkit-transform: rotateZ(-8deg) rotateX(180deg) skewX(8deg);
        transform: rotateZ(-8deg) rotateX(180deg) skewX(8deg);
        -webkit-transform-origin: right top;
        -ms-transform-origin: right top;
        transform-origin: right top; }
  .test-block__content {
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 2;
    overflow: hidden; }
    .test-block__content:before {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100px;
      height: 100%;
      background: -webkit-linear-gradient(98deg, #3062FF 70%, #EDEDED 70%);
      background: -o-linear-gradient(98deg, #3062FF 70%, #EDEDED 70%);
      background: linear-gradient(-8deg, #3062FF 70%, #EDEDED 70%);
      border-right: 10px solid #fff;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      @media all and (max-width: 1023px) {
        .test-block__content:before {
          width: 110%;
          height: 2vw;
          top: 27%;
          right: -4px;
          left: initial;
          background: #fff;
          border: none;
          -webkit-transform-origin: right;
          -ms-transform-origin: right;
          transform-origin: right;
          -webkit-transform: rotateZ(6deg);
          -ms-transform: rotate(6deg);
          transform: rotateZ(6deg); } }
    .test-block__content .left {
      position: relative;
      width: 50%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      background-color: #3062FF;
      -webkit-transform: skewX(-10deg);
      -ms-transform: skewX(-10deg);
      transform: skewX(-10deg); }
      .test-block__content .left:before {
        content: "";
        position: absolute;
        top: 0;
        right: 50%;
        width: 100%;
        height: 100%;
        background-color: #3062FF; }
      .test-block__content .left .top {
        position: absolute;
        z-index: 5;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transform: rotateZ(8deg) rotateX(180deg) skewX(-8deg);
        transform: rotateZ(8deg) rotateX(180deg) skewX(-8deg);
        -webkit-transform-origin: left top;
        -ms-transform-origin: left top;
        transform-origin: left top;
        background-color: #fff; }
      .test-block__content .left .inner {
        position: relative;
        width: 100%;
        max-width: 550px;
        margin-left: auto;
        -webkit-transform: skewX(10deg);
        -ms-transform: skewX(10deg);
        transform: skewX(10deg);
        -webkit-transform-origin: right top;
        -ms-transform-origin: right top;
        transform-origin: right top;
        background-color: #3062FF;
        background-blend-mode: multiply;
        background-image: url("../images/image.jpg"); }
        @media all and (max-width: 1023px) {
          .test-block__content .left .inner {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            -webkit-transform: none;
            -ms-transform: none;
            transform: none;
            -webkit-clip-path: polygon(0 15%, 100% 0, 100% 80%, 0 100%);
            clip-path: polygon(0 15%, 100% 0, 100% 80%, 0 100%);
            background-image: url("../images/image-2.jpg"); } }
    .test-block__content .right {
      width: 50%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-transform: skewX(-10deg);
      -ms-transform: skewX(-10deg);
      transform: skewX(-10deg);
      background-color: #EDEDED; }
      .test-block__content .right:after {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 100%;
        height: 100%;
        background-color: #EDEDED; }
      .test-block__content .right .inner {
        width: 100%;
        max-width: 550px;
        position: relative;
        z-index: 2;
        padding: 10vw 0 10vw 3vw;
        -webkit-transform: skewX(10deg);
        -ms-transform: skewX(10deg);
        transform: skewX(10deg); }
        @media all and (max-width: 1023px) {
          .test-block__content .right .inner {
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
            text-align: center; } }
        @media all and (max-width: 1023px) {
          .test-block__content .right .inner p {
            font-size: 20px; } }
      .test-block__content .right .title {
        margin-top: 0;
        font-size: 28px;
        color: #3062FF; }
        @media all and (max-width: 1023px) {
          .test-block__content .right .title {
            font-size: 30px; } }
      .test-block__content .right .btn-wrapper {
        margin-top: 30px; }
        @media all and (max-width: 1023px) {
          .test-block__content .right .btn-wrapper {
            margin-top: 50px; } }
