body {
  font-family: "Tahoma", sans-serif;
  font-size: 14px; }

p {
  line-height: 1.4; }

.contain {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

.cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

button,
.btn {
  position: relative;
  display: inline-block;
  min-width: 100px;
  padding: 10px 25px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  text-align: left; }
  @media all and (max-width: 1023px) {
    button,
    .btn {
      min-width: 180px;
      padding: 20px 30px;
      font-size: 20px; } }
  button--blue,
  .btn--blue {
    color: #fff;
    background-color: #3062FF; }
  button--with-arrow,
  .btn--with-arrow {
    padding-right: 50px; }
    button--with-arrow:after,
    .btn--with-arrow:after {
      content: "";
      width: 20px;
      height: 20px;
      position: absolute;
      top: 50%;
      right: 20px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      border: 1px solid #fff;
      background-image: url("../images/arrow-right.png");
      background-size: 10px;
      background-position: center;
      background-repeat: no-repeat; }
      @media all and (max-width: 1023px) {
        button--with-arrow:after,
        .btn--with-arrow:after {
          width: 30px;
          height: 30px;
          background-size: 15px;
          border: 1px solid #fff; } }

.test-block {
  position: relative;
  width: 100%;
  max-width: 1100px;
  max-height: calc(100vh - 150px);
  height: 450px;
  margin: 150px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .test-block__background-scene {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-perspective: 250px;
    perspective: 250px; }
    @media all and (max-width: 1023px) {
      .test-block__background-scene {
        position: relative;
        z-index: 5;
        top: -15vw;
        height: auto;
        padding-bottom: 90%;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        -webkit-perspective: none;
        perspective: none; } }
    .test-block__background-scene .left {
      position: relative;
      top: -4px;
      width: 100%;
      -webkit-transform: translate(30px) rotateY(8deg);
      transform: translate(30px) rotateY(8deg);
      -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
      background-color: #3062FF;
      background-blend-mode: multiply;
      background-image: url("../images/image.jpg"); }
      @media all and (max-width: 1023px) {
        .test-block__background-scene .left {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          -webkit-transform: none;
          -ms-transform: none;
          transform: none;
          -webkit-clip-path: polygon(0 15%, 100% 0, 100% 80%, 0 100%);
          clip-path: polygon(0 15%, 100% 0, 100% 80%, 0 100%);
          background-image: url("../images/image-2.jpg"); } }
      .test-block__background-scene .left:before {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 10%;
        height: 100%;
        background: -webkit-linear-gradient(105deg, #3062FF 70%, #EDEDED 70%);
        background: -o-linear-gradient(105deg, #3062FF 70%, #EDEDED 70%);
        background: linear-gradient(-15deg, #3062FF 70%, #EDEDED 70%);
        border-right: 10px solid #fff;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; }
        @media all and (max-width: 1023px) {
          .test-block__background-scene .left:before {
            width: 110%;
            height: 2vw;
            top: 27%;
            right: -4px;
            left: initial;
            background: #fff;
            border: none;
            -webkit-transform-origin: right;
            -ms-transform-origin: right;
            transform-origin: right;
            -webkit-transform: rotateZ(6deg);
            -ms-transform: rotate(6deg);
            transform: rotateZ(6deg); } }
    .test-block__background-scene .right {
      position: relative;
      top: 4px;
      width: 100%;
      -webkit-transform: translate(-30px) rotateY(-8deg);
      transform: translate(-30px) rotateY(-8deg);
      -webkit-clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
      clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
      background: #EDEDED; }
      .test-block__background-scene .right:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 25%;
        bottom: 0;
        left: 0;
        background: -webkit-gradient(linear, right bottom, left top, color-stop(50%, #3062FF), color-stop(50%, #EDEDED));
        background: -webkit-linear-gradient(bottom right, #3062FF 50%, #EDEDED 50%);
        background: -o-linear-gradient(bottom right, #3062FF 50%, #EDEDED 50%);
        background: linear-gradient(to top left, #3062FF 50%, #EDEDED 50%); }
  .test-block__content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 2;
    width: 50%;
    margin-left: 50%; }
    @media all and (max-width: 1023px) {
      .test-block__content {
        margin-left: 0;
        width: 100%;
        padding: 200px 10vw 20vw;
        background: #EDEDED;
        -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%); } }
    .test-block__content .inner {
      position: relative;
      z-index: 2;
      max-width: 80%;
      margin-left: 15%; }
      @media all and (max-width: 1023px) {
        .test-block__content .inner {
          max-width: 100%;
          margin-left: auto;
          margin-right: auto;
          text-align: center; } }
      @media all and (max-width: 1023px) {
        .test-block__content .inner p {
          font-size: 20px; } }
    .test-block__content .title {
      margin-top: 0;
      font-size: 28px;
      color: #3062FF; }
      @media all and (max-width: 1023px) {
        .test-block__content .title {
          font-size: 30px; } }
    .test-block__content .btn-wrapper {
      margin-top: 30px; }
      @media all and (max-width: 1023px) {
        .test-block__content .btn-wrapper {
          margin-top: 50px; } }


